@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.brand-logo {
    font-family: 'Josefin Sans', sans-serif;
}

h2 {
    font-family: 'Great Vibes', cursive;
}

.navbar-fixed {
    z-index: 999; 
 }

.nav-sides {
    font-family: 'Josefin Sans', sans-serif;
}

body {
    font-family: 'Poppins', sans-serif;
}

.auth-card {
    padding: 20px;
    text-align: center;
    max-width: 400px;
    margin: 60px auto;
}

.btn-signin {
    margin-top: 10px;
}

.link-to-page {
    font-size: 20px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
}

.item {
    width: 30%;
    height: 30%;
    padding: 5px;
    margin: 20px;
}

.home-card {
    max-width: 500px;
    height: max-content;
    margin: 26px auto;
}

/* .post-img {
    margin-left: 10px;
    margin-right: 10px;
} */

.usr-name-post {
    margin-left: 10px;
    padding: 5px;
    padding-top: 10px;
    margin-top: 10px;
    text-align: left;
    align-items: center;
}

.btn-logout:hover {
    background-color: red;
    box-shadow: inset;
}

.collection-item {
    width: 100%;
}

@media screen and (max-width: 600px) {
    .auth-card {
        padding: 20px;
        text-align: center;
        max-width: 350px;
        margin: 60px auto;
    }
}